.container-grid{
    display:grid;
    /* 格線排版*** */
    grid-template-areas: 
    'header header header header header'
    'left middle middle middle right'
    'footer footer footer footer footer';
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.header{
    background-color: burlywood;
    padding:30px;
    /* 調整格子大小 */
    font-size: 40px;
    grid-area: header;
}
.footer{
    background-color: burlywood;
    padding:30px;
    /* 調整格子大小 */
    font-size: 30px;
    grid-area: footer;
}
.left{
    background-color: blueviolet;
    grid-area: left;
    

}
.middle{
    background-color: rgb(73, 155, 238);
    grid-area: middle;
    
}
.right{
    background-color: rgb(229, 191, 41);
    grid-area: right;
}
.left,.middle,.right{
    padding:30px;
    height:300px;
    height: 500px;
}
@media(max-width:600px){
    .container-grid{
        display:grid;
        /* 格線排版*** */
        grid-template-areas: 
        'header '
        'left'
        'middle'
        'right'
        'footer';
    
    }
}